
<html>
<body>

<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<tr><th><label>{{ form.name.label }}</label>
</th><td>{{ form.name }}</td></tr>

<tr><th><label>{{ form.email.label }}</label>
</th><td>{{ form.email }}</td></tr>

<tr><th><label>{{ form.exercise.label }}</label>
</th><td>{{ form.exercise }}</td></tr>

<tr><th><label>{{ form.audio.label }}</label>
</th><td>{{ form.audio }}</td></tr>

<br>
<input style="margin-left: 40%;margin-top: 1%;" type="submit" value="Upload"/>
</form>

</body>
</html>

