
<html>
<body>
	<h3>{{message}}
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table style="margin-left:36%;">
        {{ form.as_table }}
        </table>

<br>
<input style="margin-left: 40%;margin-top: 1%;" type="submit" value="Upload"/>
</form>

</body>
</html>

